{% extends "base.html" %}
{% block title %}RaPo源码｜Django&Python{% endblock %}
{% block content %}
    <div class="mycontianer">
        <div class="article" style="cursor:pointer">
            <div href="#">
                <h1>New RaPo's Site</h1>
                <div class="art-time">
                <span class="">更新时间：2015-05-01</span>
                </div>
                <br/>
                <p>zhengwen ～～</p>
                <div class="art-tag"></div>
            </div>
            <div class="art-content collapsible">
                <div><h1>Resource：</h1>
                    <a href="https://github.com/bluedazzle/newraposite" target="_blank" class="btn btn-primary"
                       style="margin-right: 5px;">源码</a>
                    <a href="" class="btn btn-primary">PSD</a></div>
            </div>

        </div>
        <div class="article" style="cursor:pointer">
            <div href="#">
                <h1>head</h1>
                <div class="art-time">
                    <span class="">更新时间：2014-11-21</span>
                </div>
                <div class="art-tag"></div>
            </div>
            <br/>

            <div class="art-content collapsible">
                <p>zhengwen ～～</p>
                <p>另外第一版博客的psd设计原稿也提供下载了～</p>
                    <a href="/file/rapopsd.zip" class="btn btn-primary">PSD</a></div>
            </div>
        </div>
    </div>
{% endblock %}
